
<%- include('../../includes/head.ejs') %>

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="/css/orders.css">

  <title>پنل مدیریتی - نمودار ها</title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin.css" rel="stylesheet">

</head>
<style>

*{
  font-family: 'BNazanin';
}

.button1 {
  border-radius: 200px;
  background-color: #18464d;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  width: 160px;
  height: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 80px;
  font-size: 15px;
}
 hr{
  border: 1px solid black;
 }
.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}
h3,h2{
  font-size: 23px;
}
</style>

<body id="page-top">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="/admin/adminPanel">پنل مدیریتی</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    

    <!-- Navbar -->
    

  </nav>

  <div id="wrapper">

   <!-- Sidebar -->
   <ul class="sidebar navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="/admin/adminPanel">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>پنل مدیریتی</span>
      </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-folder"></i>
        <span>صفحات</span>
      </a>
      <div style="background-color: rgb(97, 94, 94);" class="dropdown-menu" aria-labelledby="pagesDropdown">
        <h6 style="color: burlywood;" class="dropdown-header"> :دسترسی به</h6>
        <a style="color: rgb(223, 199, 199);;" class="dropdown-item" href="/admin/products"> محصولات شما</a>
        <a style="color: rgb(223, 199, 199);" class="dropdown-item" href="/"> محصولات فروشگاه</a>
        <a style="color: rgb(223, 199, 199);;" class="dropdown-item" href="/admin/add-product"> اضافه کردن محصول</a>
        <a style="color: rgb(223, 199, 199);;" class="dropdown-item" href="/reset">تغییر رمز عبور</a>
        <div class="dropdown-divider"></div>
        <h6 style="color: rgb(223, 199, 199);;" class="dropdown-header">:صفحات دیگر</h6>
        <a style="color: rgb(223, 199, 199);;" class="dropdown-item" href="404.html">ارتباط با ما</a>
        <a style="color: rgb(223, 199, 199);;" class="dropdown-item" href="blank.html">صفحه خالی</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="charts">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>نمودار ها</span></a>
    </li>
   
  </ul>


    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">داشبورد</a>
          </li>
          <li class="breadcrumb-item active">نمودار ها</li>
        </ol>

        <!-- Area for orders-->
       <body>
        <% if(orders[0]){ %>


        <% if(orders[0].condition=='delivered'){ %>
          <div style="text-align: right; margin-right: 30px;">
               <h3  style=" text-align: center;display: inline; color: darkslateblue;"> تعداد سفارش های انجام شده :</h3> &nbsp;
               <h3 style=" display: inline; color: darkgreen;"> <%=numCount%></h3>&nbsp;
               <h3 style="display: inline;color: rgb(2, 41, 18);"> عدد</h3>
              </div>
              <div style="text-align: right; margin-right: 30px;">
                <h3  style=" text-align: center;display: inline; color: darkslateblue;"> مجموع دریافتی شما :</h3> &nbsp;
                <h3 style=" display: inline; color: darkgreen;"> <%=totalPrice%></h3>&nbsp;
                <h3 style="display: inline;color: darkgreen;"> تومان</h3>
               </div>
              <br>
              <br>

          <% } else {%>

            <div style="text-align: right; margin-right: 30px;">
              <h3  style=" text-align: center;display: inline; color: darkslateblue;"> تعداد سفارش ها :</h3> &nbsp;
              <h3 style=" display: inline; color: darkgreen;"> <%=numCount%></h3>&nbsp;
              <h3 style="display: inline;color: rgb(2, 41, 18);"> عدد</h3>
             </div>
             <div style="text-align: right; margin-right: 30px;">
               <h3  style=" text-align: center;display: inline; color: darkslateblue;">ارزش سفارش ها :</h3> &nbsp;
               <h3 style=" display: inline; color: darkgreen;"> <%=totalPrice%></h3>&nbsp;
               <h3 style="display: inline;color: darkgreen;"> تومان</h3>
              </div>
             <br>
             <br>

            <%}%>

            <%}%>

        <body >
            <div  id="test">
                <% if (orders.length <= 0) { %>
                    <h1 class="centered">!سفارشی موجود نیست</h1>
                <% } else { %>
                    <ul  class="orders">
                        <% orders.forEach(order => { %>
                            <li class="orders__item">
                                <h1>شناسه سفارش</h1>
                                <h2># <%= order._id %></h2>
                                <ul class="orders__products">
                                    <% order.products.forEach(p => { %>
                                        <li class="orders__products-item"><%= p.productTitle %> (<%= p.quantity %>)</li>
                                    <% }); %>
                                    <br>
                                    <div style="text-align: center; ">
                                  <h2 style=" display: inline; text-align: center; color: green;"> قیمت کل: <%= order.totalPrice %></h2>&nbsp;
                                  <h2 style="display: inline; text-align: center; color: green;"> تومان</h2>
                                  </div>
                                  <hr>  
                                  <h3 style="text-align: center;color: indigo;"> تاریخ ثبت سفارش:<%= order.orderDate.date %> </h3>
                                  <h3 style="text-align: center;color: indigo;"> ساعت ثبت سفارش: <%= order.orderDate.hour %></h3>
                                  <hr>
                                  <h2 style="text-align: center; color: rgb(134, 4, 4) ;">: نام سفارش دهنده </h2>
                                  <h3 style="text-align: center; color: rgb(31, 73, 35);"><%= order.user.userName %> </h2>
                                  <h2 style="text-align: center; color: rgb(134, 4, 4);">: شماره تلفن سفارش دهنده </h2>
                                  <h3 style="text-align: center; color: rgb(31, 73, 35);"><%= order.user.phoneNumber %> </h2>

                                  <h2 style="text-align: center; color: rgb(134, 4, 4)">: آدرس سفارش دهنده </h2>
                                  <h3 style="text-align: center; color: rgb(31, 73, 35);"><%= order.user.address %> </h2>
                                    <hr>

                                  <% if(order.condition=='delivered'){ %>
                                    <h3 style="text-align: center;color: rgba(150, 48, 95, 0.986);"> تاریخ تحویل سفارش: <%= order.deliveryDate.date %></h3>
                                    <h3 style="text-align: center;color: rgba(150, 48, 95, 0.986);"> ساعت تحویل سفارش: <%= order.deliveryDate.hour %></h3>
                                    <% } %>
    
                                  <% if(order.condition=='in progress'){ %>
                                  <form  action="/admin/order-done" method="POST">
                                    <input type="hidden" value="<%= order._id %>" name="orderId">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button  class="button1" type="submit"><span>انجام شده </span></button>
                                </form>
                                <% } %>
                                </ul>
                            </li>
                             
                        <% }); %>
                    </ul>
                <% } %>
            </div>



       </body>

     

      </div>
      <!-- /.container-fluid -->

   

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
  <script src="/vendor/chart.js/Chart.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin.min.js"></script>

  <!-- Demo scripts for this page-->
  <script src="/js/demo/chart-area-demo.js"></script>
  <script src="/js/demo/chart-bar-demo.js"></script>
  <script src="/js/demo/chart-pie-demo.js"></script>

</body>

</html>
